//@import '~antd/dist/antd.compact.less'; // Introduce the official compact less style entry file
@import '~antd/dist/antd.dark.less';


.layout{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.header{
    background-color: #1F1F1F;
    margin: 0px;
    padding: 0px;
}
.footer{
    background-color: #1F1F1F;
    margin: 0px;
    padding: 4px;
}

.relayContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.port{
    width: 100px;
    margin-bottom: 32px;
}